body {

}

h1 {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 900%
}

h2 {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 100%
}

p {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 125%
}

a {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 200%
}

a:active {

}

table {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 100%
}

#myBar {
    width: 100%;
    background-color: grey;
}
#myMeter {
    width: 1%;
    height: 30px;
    background-color: #DAA520;
}
#label {
    text-align: center;
    line-height: 30px;
    color: white;
}
